@font-face {
  src: url("../assets/Scriptina Pro.otf");
  font-family: scriptina;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: scriptina;
  line-height: 1.6;
  background-color: #e5e5e5;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  max-height: 4rem;
  background-color: #006266;
  width: 100%;
  padding: 1rem;
  position: fixed;
  z-index: 20;
  font-family: cursive;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.navbar__list > li {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar__list > li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.navbar__brand {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 4rem;
  width: 4rem;
}

.navbar__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 2px;
  -ms-grid-column-align: center;
      justify-self: center;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 800;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar__link:hover {
  color: #d4a310;
}

.header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
}

.header2__heading {
  color: #d4a310;
  font-size: 5rem;
  letter-spacing: 4px;
  font-family: scriptina;
}

.header2__body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
  border: 2px solid #d4a310;
  text-align: center;
}

.header2__body__text {
  font-family: cursive;
  font-size: 1.2rem;
  color: black;
}

.header2__body__text > span {
  color: #d4a310;
}

.footer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: cursive;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  min-height: 30vh;
  background-color: #006266;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 15rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__box__header {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #d4a310;
}

.footer__box__span {
  color: #d4a310;
  font-size: 1.2rem;
  margin: 0.2rem;
}

.footer__box__address {
  font-size: 1rem;
}

.footer__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__box2__logo {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 6rem;
  border: #d4a310;
}

.footer__box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box3__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box3__menu__heading {
  grid-column: 1/-1;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2rem;
  color: #d4a310;
  margin-bottom: 1rem;
}

.footer__box3__menu__item {
  font-size: 1.2rem;
  margin: 0.3rem;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__box3__menu__item:hover {
  color: #d4a310;
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.footer__box3__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
  margin: 0.4rem;
  color: #d4a310;
}

.footer__box3__socials > a {
  color: #d4a310;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__box3__socials > a:hover {
  color: white;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.footer__link {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__link:hover {
  color: #d4a310;
}
/*# sourceMappingURL=about.css.map */