.footer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: cursive;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  min-height: 30vh;
  background-color: #006266;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 15rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__box__header {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #d4a310;
}

.footer__box__span {
  color: #d4a310;
  font-size: 1.2rem;
  margin: 0.2rem;
}

.footer__box__address {
  font-size: 1rem;
}

.footer__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__box2__logo {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 6rem;
  border: #d4a310;
}

.footer__box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box3__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box3__menu__heading {
  grid-column: 1/-1;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2rem;
  color: #d4a310;
  margin-bottom: 1rem;
}

.footer__box3__menu__item {
  font-size: 1.2rem;
  margin: 0.3rem;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__box3__menu__item:hover {
  color: #d4a310;
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.footer__box3__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
  margin: 0.4rem;
  color: #d4a310;
}

.footer__box3__socials > a {
  color: #d4a310;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__box3__socials > a:hover {
  color: white;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.footer__link {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__link:hover {
  color: #d4a310;
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__box2 {
    display: none;
  }
  .footer__box3__menu {
    display: none;
  }
  .footer__box3__socials {
    margin: 1rem;
  }
}
/*# sourceMappingURL=footer.css.map */