///// HEADER //////
.header {
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      rgba(white, 0.9),
      rgba(white, 0.9)
    ),
    url(../assets/img/bg-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

  &__heading {
    color: $primary-color;
    font-size: 5rem;
    letter-spacing: 4px;
    font-family: scriptina;
    margin: auto;
  }
}

///SVG////
#svg {
  width: 90%;
  margin: auto;
}
path {
  stroke-dashoffset: 1500;
  stroke-dasharray: 1500;
  animation: animate 6s linear 1 forwards;
  opacity: 0;
  fill: none;
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
    opacity: 10;
    fill: $primary-color;
  }
}
