@font-face {
  src: url("./assets/Scriptina Pro.otf");
  font-family: scriptina;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: scriptina;
  line-height: 1.6;
  background-color: #e5e5e5;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.active {
  position: absolute;
  right: 300px;
}

menu {
  background-color: #d4a310;
  position: absolute;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 300px;
  right: 0;
  text-align: center;
}

menu ul {
  list-style: none;
}

menu ul li {
  margin-top: 1rem;
}

menu ul img {
  margin-top: 5rem;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../assets/img/bg-2.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/img/bg-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.header__heading {
  color: #d4a310;
  font-size: 5rem;
  letter-spacing: 4px;
  font-family: scriptina;
  margin: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 4rem;
  background-color: #006266;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  z-index: 20;
  font-family: cursive;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.navbar__list > li {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar__list > li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.navbar__brand {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 4rem;
  width: 4rem;
}

.navbar__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 2px;
  -ms-grid-column-align: center;
      justify-self: center;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 800;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar__link:hover {
  color: #d4a310;
}

.toggle-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem;
  display: none;
  width: 100%;
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25px;
  height: 20px;
}

.bar {
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.toggle-img {
  height: 4rem;
  width: 4rem;
}

@media (max-width: 768px) {
  .toggle-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__list {
    display: none;
  }
}

#svg {
  margin-top: 15rem;
  width: 100%;
}

path {
  stroke-dashoffset: 1500;
  stroke-dasharray: 1500;
  -webkit-animation: animate 6s linear 1 forwards;
          animation: animate 6s linear 1 forwards;
  opacity: 0;
  fill: none;
}

@-webkit-keyframes animate {
  to {
    stroke-dashoffset: 0;
    opacity: 10;
    fill: #d4a310;
  }
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
    opacity: 10;
    fill: #d4a310;
  }
}
/*# sourceMappingURL=index.css.map */