@font-face {
  src: url("./assets/Scriptina Pro.otf");
  font-family: scriptina;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: scriptina;
  line-height: 1.6;
  background-color: #e5e5e5;
}

///// CONTAINER //////
.container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;

  &.active {
    position: absolute;
    right: 300px;
  }
}

menu {
  background-color: #d4a310;
  position: absolute;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 300px;
  right: 0;
  text-align: center;

  & ul {
    list-style: none;

    & li {
      margin-top: 1rem;
    }
    & img {
      margin-top: 5rem;
    }
  }
}

///// HEADER //////
.header {
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      rgba(black, 0.6),
      rgba(black, 0.6)
    ),
    url(../assets/img/bg-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.header__heading {
  color: #d4a310;
  font-size: 5rem;
  letter-spacing: 4px;
  font-family: scriptina;
  margin: auto;
}

///// NAVBAR //////
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: 4rem;
  background-color: #006266;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  z-index: 20;
  font-family: cursive;
  transition: all 0.5s;

  &__list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

    & > li {
      transition: all 0.3s;
    }

    & > li:hover {
      transform: translateY(-5px);
    }
  }

  &__brand {
    align-self: center;
    justify-self: center;
    height: 4rem;
    width: 4rem;
  }

  &__link {
    align-self: center;
    letter-spacing: 2px;
    justify-self: center;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 800;
    transition: all 0.2s;

    &:hover {
      color: #d4a310;
    }
  }
}
//RESPONSIVE NAV
.toggle-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  display: none;
  width: 100%;
}
.toggle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25px;
  height: 20px;
}

.bar {
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.toggle-img {
  height: 4rem;
  width: 4rem;
}

@media (max-width: 768px) {
  .toggle-bar {
    display: flex;
  }
  .navbar__list {
    display: none;
  }
}

///SVG////
#svg {
  margin-top: 15rem;
  width: 100%;
}
path {
  stroke-dashoffset: 1500;
  stroke-dasharray: 1500;
  animation: animate 6s linear 1 forwards;
  opacity: 0;
  fill: none;
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
    opacity: 10;
    fill: #d4a310;
  }
}
