.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #d4a310;
  width: 100%;
  padding: 1rem 0;
  z-index: 20;
  font-family: cursive;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.navbar__list > li {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar__list > li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.navbar__brand {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 4rem;
  width: 4rem;
}

.navbar__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 2px;
  -ms-grid-column-align: center;
      justify-self: center;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 800;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar__link:hover {
  color: #d4a310;
}

.toggle-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
  width: 100%;
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25px;
  height: 20px;
  position: relative;
}

.bar {
  height: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #d4a310;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bar.one.active {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  background-color: white;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bar.two.active {
  display: none;
}

.bar.three.active {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white;
  position: absolute;
  top: 50%;
}

.toggle-img {
  height: 4rem;
  width: 4rem;
}

@media screen and (max-width: 768px) {
  .toggle-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__list {
    display: none;
  }
  .responsive-nav {
    display: none;
  }
  .responsive-nav.active {
    display: contents;
  }
}

.responsive-nav {
  display: none;
}

.menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.menu__item {
  margin-top: 1rem;
}

.menu__list {
  list-style: none;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-family: cursive;
  letter-spacing: 2px;
  font-size: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__link:hover {
  color: white;
}
/*# sourceMappingURL=navbar.css.map */