.services {
  display: flex;
  flex-direction: column;
  padding: 3rem;

  &__heading {
    font-size: 5rem;
    margin-top: 10rem;
    justify-self: center;
    align-self: center;
    color: #d4a310;
  }

  &__content {
    background-color: white;
    display: flex;
    padding: 4rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    border: 2px solid #d4a310;
    text-align: center;
  }
  &__text {
    font-family: cursive;
    font-size: 1.2rem;
    color: black;
  }
}

.provisions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.info {
  margin: 5rem;
  min-width: 16rem;
  min-height: 15rem;

  &:hover > &__front {
    transform: perspective(1000px) rotateY(-180deg);
    cursor: pointer;
  }
  &:hover > &__back {
    transform: perspective(1000px) rotateY(0deg);
    cursor: pointer;
  }

  &__front {
    border-radius: 1rem;
    font-family: cursive;
    box-shadow: 0 0 1rem 1px #d4a310;
    background-color: white;
    display: flex;
    transition: all 0.6s linear;
    position: absolute;
    align-items: center;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(0deg);

    &__logo {
      fill: #d4a310;
      height: 5rem;
      width: 5rem;
    }

    &__header {
      margin-top: 1rem;
      font-size: 1.05rem;
      text-transform: uppercase;
      color: #d4a310;
    }
  }

  &__back {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background-color: #006266;
    color: white;
    justify-content: center;
    font-family: cursive;
    box-shadow: 0 0 1rem 1px #d4a310;
    transition: all 0.6s linear;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(180deg);
    &__text {
      font-size: 0.8rem;
      width: 80%;
    }
  }
}
