.work {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  flex-direction: column;
  padding: 3rem;

  &__heading {
    color: #d4a310;
    font-size: 5rem;
    letter-spacing: 4px;
    font-family: scriptina;
    background-color: white;
    width: 100vw;
  }

  &__body {
    background-color: white;
    display: flex;
    padding: 4rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    border: 2px solid #d4a310;
    text-align: center;
  }
  &__text {
    font-family: cursive;
    font-size: 1.2rem;
    color: black;

    & > span {
      color: #d4a310;
    }
  }
}
